.card-grid-main{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 1rem;
    opacity: 0;
    animation: loaded 0.6s ease-in forwards;
}
@keyframes loaded{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}